*,
::before,
::after {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  word-wrap: break-word;
}

header,
nav,
main,
article,
section,
aside,
footer {
  display: block;
}

html {
  font-size: 62.5%;
  line-height: 1.3;
}

body {
  background-color: rgb(27, 32, 32);
  background-image: url(../img/background/bg1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: "Cinzel", serif;
  font-size: 1.6rem;
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
}

.container {
  min-height: 100%;
  margin: 1.8em auto 0;
  max-width: 95vw;
  width: 64em;
}

.topwrapper {
  background-color: rgba(10, 45, 50, 0.751);
  border-left: 2px solid rgb(10, 50, 46);
  border-radius: 1.5em;
  border-top-left-radius: 69em;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  max-width: 100vw;
  margin: 0 auto;
  padding-bottom: 10em;
}

/* flex1 */
figure {
  margin: 0;
  padding: 0;
}

.topwrapper__picture {
  border-radius: 3em;
  height: 17.5em;
  margin: 6% 0;
  max-width: 85vw;
  object-fit: cover;
  opacity: 80%;
  width: 17.5em;
}

/* flex2 */
.logo__img {
  height: 6em;
  margin: 7% 0 0 -13%;
  max-width: 85vw;
  object-fit: contain;
  position: relative;
  width: 25em;
  z-index: 1;
}

.side__img {
  bottom: 5em;
  border-radius: 3em;
  display: block;
  float: left;
  object-fit: cover;
  opacity: 80%;
  position: relative;
  transform: rotate(20deg);
  width: 16em;
  z-index: 1;
}

.topwrapper__description {
  color: rgb(207, 204, 199);
  font-size: 1.7rem;
  height: 2em;
  object-fit: cover;
  order: +2;
  position: relative;
  text-align: right;
  top: 20.1em;
  width: 30em;
  word-wrap: break-word;
}

.bottom__wrapper {
  margin: 40px 0;
  min-height: 7em;
  padding: 0;
  width: 100%;
}

h2 {
  color: rgb(207, 204, 199);
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: 0.15em;
  text-align: center;
  word-wrap: break-word;
}

.instagram {
  height: 1.5em;
  margin-top: 3.2em;
  max-width: 90vw;
  position: relative;
  width: fit-content;
}

.instagram__img {
  width: 6em;
  margin: 0 0 0 4em;
  position: absolute;
  top: 50%;
  transform: translate(0, -64%);
}

.instagram__text {
  color: whitesmoke;
  font-size: 2.2em;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(110%, -62%);
}

.instagram a:link {
  text-decoration: none;
}

.stopka {
  color: rgb(207, 204, 199);
  font-size: 0.7em;
  margin-bottom: 3em;
  text-align: center;
  word-wrap: break-word;
}

/* slider start */
.thumbnail img {
  background-color: rgba(209, 208, 187, 0.287);
  border: 0.01em solid rgba(135, 127, 110, 0.475);
  border-radius: 1em;
  box-shadow: 0 0 10em 0.08em rgba(212, 207, 190, 0.759);
  height: 4em;
  margin: 0.4em;
  max-width: 100vw;
  min-width: 0;
  object-fit: contain;
  overflow: hidden;
  width: 6em;
}

.thumbnail {
  max-width: 100vw;
  min-width: 0;
  transform: scale(1);
  transition: transform 0.3s;
}

.thumbnail:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0 30px;
}

ul,
ul li {
  list-style: none outside;
  margin: 0;
  padding: 0;
}

.popup {
  align-content: center;
  animation: fadeIn 0.7s;
  background-color: rgba(0, 0, 0, 0.864);
  backdrop-filter: blur(10px);
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 3;
}

.popup__img {
  max-height: 85%;
  max-width: 85%;
}

.popup.hidden {
  display: none;
}

.popup.fade-out {
  animation: fadeOut 0.7s both;
}

.popup__close {
  background-color: rgba(119, 119, 119, 0);
  border: 1px solid rgb(37, 37, 37);
  border-radius: 16px;
  box-sizing: initial;
  cursor: pointer;
  height: 16px;
  padding: 0;
  position: fixed;
  right: 16vw;
  top: 3.2vh;
  transform: scale(2.4);
  width: 16px;
}

.popup__close:hover {
  background-color: rgba(51, 51, 51, 0.544);
}

.popup__close:focus-visible {
  outline: 1px solid rgba(135, 135, 135, 0.5);
}

.popup__arrow {
  background-color: rgba(65, 65, 65, 0.5);
  border-radius: 16px;
  box-sizing: initial;
  height: 16px;
  padding: 0;
  position: fixed;
  top: 50%;
  transform: scale(2.8);
  width: 16px;
}

.popup__arrow:hover {
  background-color: rgba(80, 80, 80, 0.5);
  cursor: pointer;
}

.popup__arrow:focus-visible {
  outline: 1px solid rgba(135, 135, 135, 0.5);
}

.popup__arrow--left {
  left: 8vw;
}

.popup__arrow--right {
  right: 8vw;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* slider end */

@media all and (max-width: 1163px) {
  .topwrapper {
    display: block;
  }

  .logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo__img {
    display: block;
    height: 100%;
    margin: 0 auto;
  }

  .topwrapper__picture {
    display: block;
    height: 16em;
    margin: 0 auto;
    width: 12.5em;
  }

  .topwrapper__description {
    display: block;
    height: 100%;
    margin: 0 auto;
    position: static;
    width: 50vw;
    max-width: 50vw;
    text-align: center;
  }

  .side__img {
    border-radius: 3em;
    display: block;
    float: none;
    height: 20em;
    max-width: 85vw;
    margin: -7em auto 0 auto;
    opacity: 90%;
    position: static;
    transform: rotate(-4deg);
    width: 14em;
    z-index: 2;
  }

  .instagram {
    height: fit-content;
    margin: 2em auto;
    max-width: 85vw;
  }

  .instagram__img {
    display: inline-block;
    margin: 0 auto;
    max-width: 80vw;
    position: static;
    transform: translate(0, -6%);
    vertical-align: top;
  }

  .instagram__text {
    color: rgb(255, 231, 202);
    font-size: 2.2em;
    margin: 0 0 0 -0.2em;
    max-width: 80vw;
    position: static;
    word-wrap: break-word;
  }
}

@media all and (max-width: 360px) {
  .instagram__img {
    display: block;
  }
  .gallery {
    padding: 0;
  }
  .topwrapper__description {
    width: 80vw;
    max-width: 80vw;
  }
}
